.background {
	background-image:url("straightrazor2.jpg");
	background-position: 0% 0%;
	background-size:cover;
}
.header,.mainbody,.social{
	width:100%;
	opacity:1;
	font-family: 'Arvo', serif;
}
.header{
	background: white;
}
.mainbody{
	min-height:800px;
	background-color:none;
	background-image:url('../images/abstract_bg2.jpg');
}
.social{
	background:white;
	height:100px;
	float:right;
}
.sociallogo{
	float:right;
	margin:20px;
}
.logob{
	background-repeat:no-repeat;
	height:100px;
	width:100%;
}
.menu,.about,.bookbutton,.emailbutton{
	height:100px;
	font-size:4.5vw;
	color:red;
	margin:30px;
	text-align:center;
	display:block;
}
.home,.shop,.book{
	width:33.33%;
	float:left;
}
a:link, a:visited, a:active{
	color:red;
}
.book:hover{
	background-color:grey;
}
.shop:hover{
	background-color:grey;
}
.home:hover{
	background-color:grey;
}

.carousel, .mySlides, .judgeimg {
	width:970px;
	height:250px;
	margin:15px;
	position:center;
	display:block;
	position:relative;
	top:50px;
	margin:0 auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.about,.aboutbox,.booknow{
	margin: 0 auto;
	display:block;
}
.aboutbox{
	max-width:600px;
	height:250px;
	display:block;
	background-color:rgba(255, 255, 255, 0.486);
	font-size:2vw;
	text-align:center;
}
.bookbutton:hover{
	background-color:gray;
	position:center;
	display:justify;
}
.sociallogo:hover{
	background-color:grey;
}
/*Shop Tab style */
.shopbox{
width: 80%;
height:800px;
position:center;
display:justify;
margin:0 auto;
background-color:none;
}
.shopitem{
	width: 32%;
	height:350px;
	float:left;
	margin: 0 auto;
	padding: 5px;
	position:center;
	text-align:center;
}

/*Book Tab style */
#map{
	max-width:60%;
	height:600px;
	float:right;
	margin:15px;
	display:inline;
}
.contactboxinner{
	float:left;
	margin:15px;
	width:35%;
	height:600px;
	background-color:rgba(255, 255, 255, 0.486);
	font-size: 2vw;
}
.emailbutton:hover{
	background-color:gray;
	position:center;
	display:block;
	text-align:center;
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}